{% extends "layout.html" %}
{% block content %}
    <h1> {{ title }}</h1>
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                {{ form.name.label }}
                {{ form.name(class="full-width-input") }}

                {{ form.desc.label }}
                {{ form.desc(rows=3) }}

                {{ form.category.label }}
                {{ form.category }}

                {{ form.work.label }}
                {{ form.work }}

                {{ form.rest_seconds.label }}
                {{ form.rest_seconds }}

                {{ form.sets.label }}
                {{ form.sets }}

                {{ form.image_file.label }}
                {{ form.image_file }}
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock content %}%   