body {
  height: auto;
  display: grid; /* Grid restores Simple.css styling for h1*/
  justify-content: center;
  align-items: center;
}

.deck-area, .discard-pile {
  width: 100px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.deck-area {
  top: 65%;
  cursor: pointer;
}

.discard-pile {
  bottom: 35%;
}

.remaining-card, .shown-card {
  width: 150px;
  height: 225px;
  background: linear-gradient(to bottom right, #555, #666); /* Gradient Card Background */
  margin-top: 2px;
  border-radius: 10px;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.3s ease; /* Added transition */
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.100);
}

.shown-card {
  animation: flipAndMove 1s forwards;
}

.card-back, .card-front {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.card-back {
  background-color: #000000;
  background-image: url('https://github.com/etsu0721/undisputed-fitness/blob/192d3d611490781bc2104b1361203b886c1e4456/react_app/public/undisputed-logo.png?raw=true');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-front {
  background-color: #eee;
  transform: rotateY(180deg);
  color: #222;
}

@keyframes flipAndMove {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  30% {
    transform: translateY(-50px) rotateY(0deg);
  }
  60% {
    transform: translateY(-50px) rotateY(180deg);
  }
  100% {
    transform: translateY(0) rotateY(180deg);
  }
}